<h1 align="center">About Me</h1>
<div class="col-md-4">
    <div class="myimage">
        <%= image_tag("dp.jpg",size: "250x250",:alt => "rss feed") %>
    </div>
    
</div>
<div class="col-md-8">
    I enjoy the simple things in life. Being happy is a state of mind, and I don't think people should settle for less than they deserve. 
    I always look toward the next best thing. I like seeing other people happy. When someone else is down, it breaks my heart. I've been through more than most people my age, but hey, it's what has made me stronger. 
    Life has thrown me challenges, and so far, I've come out on top. I realized who my real friends are, and that my family always comes first..always. Photography is a passion of mine. I love music and movies. 
    Heroes and Chuck are my favorite TV shows, so that means Monday nights I'm unavailable! I'm average, and that's okay. I'm not one of those girls that you turn your head toward when I walk down the street, and that's okay too. There is more to life than beauty on the outside. 
    </br>
    It's about what's on the inside. That's what really counts.
    </br>
    I created This Blog for exploring the people ideas about everything's
    </br>
    Thanks for joining us!
</div>